body {

    background-color : rgb(76, 114, 76);
    font-size: x-large;
    font-family: serif;
    color : rgb(243, 237, 237);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction : column;
    margin:5%;
    padding:0%;
}
form {
    
    background-color: #017001; /* Couleur de fond du formulaire */
    padding: 20px; /* Espacement intérieur */
    border-radius: 8px; /* Coins arrondis */
    max-width: 400px; /* Largeur maximale du formulaire */
    margin: auto; /* Centre le formulaire horizontalement */
    box-shadow: 10px 15px 20px rgb(49, 136, 78);
}

.nainaccueil{
    height : 400px;
    width: 500px; 
}
footer {

    padding:5%;


    
}
