
body {

    background-color : rgb(76, 114, 76);
    font-size: x-large;
    font-family: serif;
    color : white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction : column;
    margin:0%
}
.main{
padding: 100px;
font-size: xx-large;
background-color: maroon;


}
.nainaccueil{
    height : 600px;
    width: 700px; 
}

.hero-section{
    min-height : 80vh;
   
    display : flex;
    justify-content : center;
    align-items : center;
    
    padding : 10px;
}